<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>IPM</title>
        <meta charset="UTF-8">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <link rel="stylesheet" href="../static/css/style.css" >

        <script src="../static/js/jquery.js" ></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">   
                <div class="col-lg-1 col-xs-1">
                </div>
                <div class="col-lg-4 col-xs-4" id="chat-area">
                    <div id="chat">
                        <div class="left-text">
                            <p class="text">
                                hello hgh ghjk debdbeh debejwbeh dbehjwhbde
                            </p>
                        </div>
                        <!-- <div class="right-text">
                            <p class="text">
                                hello hgh ghjk debdbeh debejwbeh dbehjwhbde
                            </p>
                        </div> -->
                    </div>

                    <input type="text" id="query">
                    <button><i class="fa fa-microphone" aria-hidden="true" id="mic-btn"></i></button>
                </div>
                <div class="col-lg-6 col-xs-6" id="content-area">
                    
                </div>
                <div class="col-lg-1 col-xs-1">
                </div>
            </div>
        </div>

        <script src="../static/js/script.js" ></script>  
    </body>
</html>