<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jquery.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        * {
            width: 100%;
            height: 100%;
        }
        .card {
            box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
            width: 100%;
            height: 90%;
        }
        .query-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .x {
            height: fit-content;
        }
        .y {
            height: inherit;
        }
        .alert {
            height: fit-content; 
        }
    </style>
    <title>IPM</title>
</head>
<body>
    <div class="container ">
        <div class="row mt-4 mb-4">
            <div class="col-4">
                <div class="card p-4 query-box">
                    <div class="query-upper y" style="overflow-y: auto;">
                        ENTER QUERIES
                        <hr>
                        <div class="add-queries x">
                            
                        </div>
                    </div>
                    <div class="query-lower x">
                        <form class="row query-form">
                            <div class="col-9">
                              <input type="text" class="form-control" id="query" placeholder="Enter Query">
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-outline-dark mb-2"><i class="fas fa-microphone-alt"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card p-4">
                    QUERY RESULTS
                    <hr>
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/script2.js"></script>
</body>
</html>